body{
	margin:0px;
	padding: 0px;
	font-family: 'Alfa Slab One', cursive;
}
.navbar{
	background: #fff;
    overflow: hidden;
    font-weight: bold;
    box-shadow: 2px 2px 5px #ddd;
    position: fixed;
    width: 100%;
}
.navbar a{
	text-decoration: none;
    float: left;
    padding: 15px;
    font-size: 17px;
    color:#000;
}
.btn{
	font-family: 'Alfa Slab One', cursive;
	font-size: 17px;
	background: #fff;
	border: none;
	padding: 15px;
	outline: none;
	font-weight: bold;
}
.dropdown{
	float: left;

}
.sub{
	position: fixed;
	background: #fff;
    display: none;
}
.sub a{
	float: none;
	display: block;
}
.navbar a:hover,.btn:hover{
	border: 3px solid red;
	border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}
.dropdown:hover .sub{
	display: block;
}
.logo{
	margin-left: 60px;
	margin-right: 50px;
   
}
.logo:hover{
	border: none!important;
	padding: 5px!important;
	margin-bottom: 10px!important;
	padding: 5px 15px!important;
}

/*Cover Css*/
.cover{
	display: flex;
	justify-content: center;

}

.cover1{
	width: 30%;
  	margin-top: 100px;
  	font-size: 20px;
  
}
.cover2{
	width: 55%;

	margin-top: 100px;
	display: flex;
	padding: 30px 30px  0px 80px;
}
.cover2 div{
	
	width: 20%!important;
	top: 100px;
	padding-bottom: 40px;

}
.cover1 h1{
   color:red;
}
.cover p{
	color: #888;
	line-height: 40px;
}
.cover button{
	background: #969;
	color: #fff;
	font-weight: bold;
	padding: 7px 15px;
	border-radius: 30px;
	border: 1px solid red;
	font-size: 15px;
	font-family: 'Alfa Slab One', cursive;
	outline: none;
}
/*Activity css*/
.mybody img{
	border-radius: 5%;
}
.mybody div{
	float: left;
	font-family: 'Alfa Slab One', cursive;

}
.mybody1{
	width:30%;
	padding: 0px 40px 0px 250px;

}

.mybody2{
	width:30%;
	 height: 450px;
}
.mybody2 p{
	color: #888;
}
.one{
	width: 45%;
   	color: #fff;
	background-image: url('img/22.2.jpg');
	border-radius: 20px 20px 20px 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 5px 5px 5px 5px;
	font-size: 12px;

}
.mybody2 div{
	float: left;
   overflow: hidden;
}
.two{
	width: 45%;
   
	color: #fff;
	background-image: url('img/22.3.jpg');
	border-radius: 20px 20px 20px 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 5px 5px 5px 5px;
	font-size: 12px;

}
.mybody2 div{
	margin-right: 10px;
}


/*Cele pets*/
#one{
	clear: both;
}
.cele{
	display: flex;
	justify-content: center;
	background-color: tomato;
	padding: 30px 0px;
}
.cele div{
	width: 15%;
	margin:20px;
	text-align: center;
}
.cele img{
	border-radius: 50%;
	border:1px solid #fff;
}
.cele h3{
	color: #fff;
}
.cele p{
	color: #ddd;
}
/*about*/
.about{
	display: flex;
	justify-content: center;
}
.about1{
	width: 30%;
	text-align: right;
}
.about2{
	width: 40%;
}
.about1 b{
	font-size: 20px;
	color: #666;
}
.about1 p{
	font-size: 20px;
	color: #aaa;
}

/*Gallery*/
.gallery{
	display: flex;
	justify-content: center;
}
.gallery div{
	width: 20%;
	margin:5px 10px;
}
/*Contacrt*/
.contact{
	display: flex;
}
.map{
	width: 70%;
}
.form{
	width: 30%;
}
.form input{
	width: 95%;
	height: 35px;
	font-size: 17px;
	font-family: 'Alfa Slab One', cursive;
	padding-left: 10px;
	margin-bottom: 10px;

}
.form textarea{
	width: 95%;
	font-size: 17px;
	font-family: 'Alfa Slab One', cursive;
	padding-left: 10px;
	margin-bottom: 10px;
}
.form button{
	background: #969;
	color: #fff;
	font-weight: bold;
	padding: 7px 15px;
	border-radius: 30px;
	border: 1px solid red;
	font-size: 15px;
	font-family: 'Alfa Slab One', cursive;
	outline: none;
}

.arrow{
	background:red;
	color: #fff;
    font-size: 20px;
    padding: 10px;
    border: 4px solid yellow;
    border-radius: 30px;
    outline:none;
    box-shadow: 5px 5px 10px #ddd;
    left: 1300px;
    position: fixed;
    top: 585px;

}
.p1{
	z-index: -1;
    margin-top: 66px;
}

.p2{
	position: relative;
	margin-left: -20px;
	margin-top: -38px;
  z-index: -1;
	
}
.p3{
	position: relative;
	margin-left: -20px;
		
	margin-top: -100px;
	
}
.p4{
	position: relative;
	margin-left: -20px;
	z-index: -1;
	margin-top: -44px;
	
}
.p5{
	position: relative;
	margin-left: -30px;
	margin-top: -33px;
	z-index: -1;
}